## Библиотека Pandas

In [2]:
import pandas as pd
import numpy as np
data = pd.read_csv('https://drive.google.com/uc?id=1il9RDoxwrgUjoOqd9yvdV760_M1AvziI')
data.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969

***Сколько всего возрастных категорий?***

In [12]:
len(data.groupby(['Age']))   # first way

7

In [13]:
data.Age.nunique()   # second way

7

In [14]:
len(data.Age.value_counts())   # third way

7

***Сколько мужчин из города категории A? (не уникальных ID, а количество строк)***

In [10]:
len(data[(data['City_Category'] == 'A') & (data['Gender'] == 'M')])

109831

In [20]:
data.groupby(['City_Category'])['Gender'].value_counts()

City_Category  Gender
A              M         109831
               F          34807
B              M         169999
               F          56494
C              M         125550
               F          40896
Name: Gender, dtype: int64

In [21]:
data.groupby(['Gender'])['City_Category'].value_counts()

Gender  City_Category
F       B                 56494
        C                 40896
        A                 34807
M       B                169999
        C                125550
        A                109831
Name: City_Category, dtype: int64

In [22]:
data[data['Gender'] == 'M']['City_Category'].value_counts()

B    169999
C    125550
A    109831
Name: City_Category, dtype: int64

In [24]:
data[data['City_Category'] == 'A']['Gender'].value_counts()

M    109831
F     34807
Name: Gender, dtype: int64

***Сколько женщин от 46 до 50, потративших (столбец Purchase) больше 20000 (условных единиц, в данном случае)? (речь не об уникальных ID, а о количестве строк)***

In [36]:
data[(data['Age'] == '46-50') & (data['Purchase'] > 20000)]['Gender'].value_counts()

M    755
F    270
Name: Gender, dtype: int64

In [37]:
(data[(data.Gender == 'F') & (data.Age == '46-50')].Purchase > 20000).sum()

270

In [40]:
len(data[(data.Gender == 'F') & (data.Purchase > 20000) & (data.Age == '46-50')])

270

***Сколько NaN'ов в столбце Product_Category_3?***

In [44]:
data.Product_Category_3.isna().sum()

373299

***Какую долю (вещественное число от 0 до 1, округлить до 4-го знака) от всех покупателей составляют ВМЕСТЕ мужчины от 26 до 35 лет и женщины старше 36 лет (то есть нужно учесть несколько возрастных категорий)? (речь не об уникальных ID, а о количестве таких строк)***

In [78]:
((data.Gender == 'M') & (data.Age == '26-35') | (data.Gender == 'F') & (data.Age > '36')).mean().round(4)

0.4077

In [ ]:
# OR